html{
  scroll-behavior: smooth;
}

.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em 1rem 3em 1em;
}

.education .box-container .box {
  width: 25em;
  margin: 2em 1em;
  padding: 1rem 1.3rem 1rem 2rem;
  border-left: .2em solid #fff;
  position: relative;
}

.education .box-container .box span {
  font-size: 1.3rem;
  background-color: var(--parpel);
  color: #fff;
  border-radius: 5em;
  margin: .7em 0 .2em .6em;
  padding: 0.3em 1.6em;
}

.education .box-container .box h3 {
  font-size: 1.7rem;
  color: #fff;
  padding-top: 1.3em;
}

.education .box-container .box p {
  font-size: 1.2rem;
  color: #eee;
  padding: 1em 0;
  
}

.education .box-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  background-color: var(--pink);
  color: var(--parpel);
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
}